footer {
  text-align: center;
}

.footer-logo-wrapper {
  display: inline-block;
  position: relative;
  text-align: center;
  top: 41px;

  .logo-border-top {
    border-top: 4px solid $gold;

    .logo {
      border: 12px solid $white;
    }
  }
}

.footer-nav {
  display: none;
  @media (min-width: 1024px) {
    background: $off-white;
    border-bottom: 2.5em solid $lightgray;
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 5%;

    li {
      border: 0;

      &:not(:first-child)::before {
        color: $lightgray;
        content: '~ ';
        font-size: 1rem;
        margin: 0 15px;
      }
    }

    a {
      color: $black;
      font-size: .8rem;
      font-weight: 600;
      text-decoration: none;
    }
  }
}
