footer {
  text-align: center;
}

.footer-logo-wrapper {
  display: inline-block;
  position: relative;
  text-align: center;
  top: 41px;

  .logo-border-top {
    border-top: 4px solid $gold;

    .logo {
      border: 12px solid $white;
    }
  }
}

.footer-nav {
  display: none;
  @media (min-width: 1024px) {
    background: $off-white;
    border-bottom: 2.5em solid $lightgray;
    display: flex;
    justify-content: center;
    padding: 5%;
  }

}
