* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.container {
  margin: 0 1rem;
  @media only screen and (min-width: 768px) {
    margin: 0 2rem;
  }

}

div {
  &::after {
    clear: both;
    content: '';
    display: table;
    }
  }

// For mobile phones:
[class*='col-'] {
  margin: 1%;
}


// For desktop
@media only screen and (min-width: 768px) {
  [class*='col-'] {
    float: left;
  }

  .col-founder {
    width: 26%;
  }

  .col-1 {
    width: 22%;
  }

  .col-community-center {
    width: 70%;
    @media only screen and (min-width: 768px) {
      display: flex;
    }
  }

  .col-slider {
    box-shadow: 1px 6px 8px $black;
  }
}
