.jumbo-wrapper {
  letter-spacing: 0;
  padding: 2rem 0;
  text-align: center;
  @media only screen and (min-width: 768px) {
    letter-spacing: 0;
    margin-bottom: 13%;
    padding: 2rem 0;
  }
}

.jumbo-hersog {
  background: $jumbo-hersog-bg;
  border: 1px solid $off-white;
  color: $off-white;
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: .1em;
  padding: 6%;
  @media only screen and (min-width: 768px) {
    font-size: 7rem;
  }
}

.jumbo-architects {
  background: $white;
  border: 1px solid;
  border-top: 4px solid $primary-blue;
  display: inline-block;
  letter-spacing: .2em;
  padding: .3rem;
  position: relative;
  top: -12px;
  width: 70%;
  @media only screen and (min-width: 768px) {
    padding: 2% 5%;
    top: -40px;
    width: initial;
  }
}
