.body-wrapper {
  background-color: $bg-color;
  background-repeat: no-repeat;
  background-size: 100% 40%;
  padding-top: 14%;
  @media only screen and (min-width: 768px) {
    background-image: url('/src/img/bg.jpg');
  }
}

img {
  height: 100%;
  width: 100%;
}

.community-text {
  @media only screen and (min-width: 768px) {
    border: 1px solid;
    border-right: 0;
    padding: 3% 8% 1% 4%;
    width: 68%;
  }
}
