.body-wrapper {
  padding-top: 17%;
}

img {
  height: 100%;
  width: 100%;
}

.community-text {
  @media only screen and (min-width: 768px) {
    border: 1px solid;
    border-right: 0;
    padding: 3% 8% 1% 4%;
    width: 68%;
  }
}
