.nav-wrapper {
  @media (min-width: 1024px) {
    display: flex;
    height: 75px;
  }
}

.logo {
  background: $primary-blue;
  box-shadow: $nav-logo-shadow;
  color: $white;
  display: inline-block;
  font-size: 1.5rem;
  padding: 25px;
  @media (min-width: 1024px) {
    padding: 14%;
    text-align: center;
    width: 176px;
  }
}

.dropdown {
  @media (min-width: 1024px) {
    width: 66%;
  }
}

.dropbtn {
  box-shadow: $burger-nav-shadow;
  float: right;
  font-size: 2rem;
  margin-top: 15px;
  @media (min-width: 768px) {
    display: none;
  }
}

.dropdown-content {
  display: none;
  left: 0;
  list-style: none;
  padding: 2%;
  right: 0;
  @media (min-width: 768px) {
    display: flex;
    justify-content: space-around;
    margin: 0;
  }

  li {
    font-size: 1.5em;
    text-align: center;
    @media (max-width: 767px) {
      background: $primary-blue;
      border: 2px solid $off-white;
      margin-bottom: 1%;
      padding: .5%;
      &:hover { background: darken($primary-blue, 10%); }
      &:active { background: darken($primary-blue, 20%); }
    }
    @media (min-width: 1024px) {
      &:not(:first-child)::before {
        color: $lightgray;
        content: '~ ';
        font-size: 1rem;
        margin: 0 15px;
      }
    }
  }

  a {
    color: $white;
    text-decoration: none;
    @media (min-width: 768px) {
      color: $black;
    }
    @media (min-width: 1024px) {
      font-size: .8rem;
      font-weight: 600;
    }
  }
}

.nav-searchbar {
  color: $lightgray;
  display: none;
  @media (min-width: 1024px) {
    display: inline-block;
    padding-top: 1.3%;
    width: 19%;

    input {
      background-image: url('/src/img/search-icon.png');
      background-position: 99% 40%;
      background-repeat: no-repeat;
      background-size: 30px;
      font-size: .9rem;
      padding: 5%;
      padding-right: 12%;
      width: 100%;
    }

    .fa-search {
      position: absolute;
      right: 47px;
      top: 25px;
    }
  }
}

.show {
  display: block;
}

.rotate {
  transform: rotate(90deg);
}
