$red: #ff0000;
$gold: #A78957;
$black: #363845;
$main-blue: #57A0D4;
$primary-blue: #2D66B4;
$gray: #a4bac5;
$lightgray: #d3d3d3;
$off-white: #F5F7F5;
$white: #fff;
$jumbo-hersog-bg: rgba(118, 111, 111, .3);
$footer-logo-shadow: 1px 6px 8px #888;
$nav-logo-shadow: 1px 0 14px #888;
$burger-nav-shadow: 1px 0 6px #888;
$bg-color: #436F9F;
$main-learn-more: #516E88;
$architecture-category: #eb9800;
$interior-category: #9d0000;
$landscape-category: #00b100;
$community-text-btn: rgba(0,0,0,.2);
